fastapi==0.104.1
uvicorn==0.24.0
pymongo==4.5.0
pydantic==2.4.2
python-dotenv==1.0.0
motor==3.3.1
httpx==0.23.0
pika==1.2.0
prometheus-client==0.19.0
python-jose==3.3.0
nest-asyncio==1.5.6
prometheus-fastapi-instrumentator==6.1.0 